div {
    display: flex;
    justify-content: center;
}

.spinning {
    animation: spin1 1s infinite linear;
}
 

@keyframes spin1 {
    0% { 
        transform: rotate(0deg);
    }

    100% { 
        transform: rotate(360deg);
    }
}
 
.breathing {
    animation: breathe 1s infinite ease-in-out alternate;
}

@keyframes breathe {
    0% { 
        transform: scale(1);
    }
    
    100% { 
        transform: scale(.5);
    }
}