* {
	margin: 0;
	padding: 0;
}

.icon-logo {
	display: block; 
	text-indent: -9999px;
}

.icon-logo:after {
	background-image: url(logo.png);
	height: 256px;
	width: 256px;	
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
}